.tx-center{
    text-align: center;
}
.tx-right{
    text-align: right;
    margin-left: 20px;
}
.img-center{
    justify-content:center ;
}
.justfy-c-b{
    justify-content: space-between;
}
.align-c{
    align-items: center;
}
.m-0{
    margin: 0;
}
.m-0-auto{
    margin: 0 auto;
}
.m-10{
    margin: 10px;
}
.mt-50{
    margin-top: 50px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top:100px;
}
.mt-120{
    margin-top:120px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-22{
    margin-bottom: 22px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-48{
    margin-bottom: 48px;
}
.ml-60{
    margin-left: 60px;
}
.p-48{
    padding: 48px 0;
}
.pt-50{
    padding-top: 50px;
}
.pt-100{
    padding-top: 100px;
}
.pt-120{
    padding-top: 120px;
}
.pt-177{
    padding-top: 177px;
}
.pb-177{
    padding-bottom: 177px;
}
.pb-120{
    padding-bottom: 120px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-50{
    padding-bottom: 50px;
}
.pl-15{
    padding-left: 15px;
}
.mw-632{
    max-width: 632px;
    width: 100%;
}
.left{
    max-width: 697px;
    margin: 126px 0 0 126px;
}
.w-28{
    max-width: 375px;
    width: 28%;
}
.w-33{
    max-width: 440px;
    width: 33%;
    max-height: 440px;
}
.w-68{
    max-width: 896px;
    width: 68%;
}
.w-81{
    width: 81%;
}
.w-92{
    width: 92%;
}
.w-100{
    width: 100%;
}