@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4tbogh');
  src:  url('fonts/icomoon.eot?4tbogh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4tbogh') format('truetype'),
    url('fonts/icomoon.woff?4tbogh') format('woff'),
    url('fonts/icomoon.svg?4tbogh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-behance-square:before {
  content: "\f1b5";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-forward:before {
  content: "\e900";
}
.icon-chevron-thin-left:before {
  content: "\e902";
}
.icon-chevron-thin-right:before {
  content: "\e903";
}
.icon-arrow-thin-right:before {
  content: "\e901";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
